*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**#### Fonte ####*/

header h1{
    color: rgb(250, 252, 125);
    
}

header a{
    color: rgb(217, 255, 210);
}

#ebook{
    font-size: 36px;
}

/**#### header ####*/

header{
    background-color: rgb(60, 76, 80);
    margin: 20px 0;
    font-size: 26px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .container .logo{
    display: flex;
    justify-content: center;
}

header img{
    width: 420px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

header a{
    display: inline;
    justify-content: space-between ;
    font-size: 38px;
    text-decoration: none;
    margin: 0 20px;;
    padding: 8px 50px;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/**#### Download ####*/



#ebook .container{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

section .container img{
    height: 400px;
}

#ebook img{
    width: 1100px;
    height: auto;
    margin-top: 20px;
}

.section {
    padding: 24px 0;
}


section .container{
    display: flex;
    align-items: self-start
}

.download{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download button{
    background-color: rgb(216, 184, 0);
    color: #fff;
    height: 120px;
    width: 400px;
    font-size: 48px;
    cursor: pointer;
    border: none;
}

.download button:hover{
    background-color: rgb(209, 191, 91);
}

.download button 


/*#### sections ####*/

.about p {
    
}





/*#### footer ####*/